html{
    background-image: url("");
    font-family: 'Kumbh Sans', sans-serif;
}
.navcontainer{
    display: inline;
    margin-left: 5px;
    margin-right:5px;
}
.thumbnail-container{
    display: flex;
    flex-direction: row;
}

.thumbnail-container img{
    border-radius: 10%;
    width: 30%;
    height: auto;
    padding: 10px;
}
.attribution { 
    font-size: 11px; 
    text-align: center; 
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}
.main-content {
    display: flex;
    flex-direction: row;
}
.product-info{
    margin-left: 15%;
}
#mainproductimage{
    border-radius: 3%;
    width: 50%;
    height: auto;
}

 #image-product-1-thumbnail{
    border-radius: 3%;
    width: 30%;
    height: auto;
} /*
#image-product-2-thumbnail{
    border-radius: 3%;
    width: 30%;
    height: auto;
}
#image-product-3-thumbnail{
    border-radius: 3%;
    width: 30%;
    height: auto;
}
#image-product-4-thumbnail{
    border-radius: 3%;
    width: 30%;
    height: auto;
}
*/
.company-name{
    color: hsl(26, 100%, 55%);
    font-weight: bold;
}
.product-title{
    font-size: 40px;
    font-weight: bold;
}